{% extends 'main/web/base.html' %}


{% block body %}
<h1>Calculate - 팀플</h1>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" style="text-align: center">정산 이름: </label>
        <div class="col-sm-9">
        <input class="input_design" id="inputhistoryname">
        </div>
    </div>
    <table>
    <tr>
        <th>결제한사람</th>
        <th>결제 대상</th>
        <th>결제 금액</th>

        <th>김예린</th>
        <th>김세란</th>
        <th>박상현</th>
    </tr>

    <tr>
        <td>김예린 <button>+</button></td>
        <td>고기</td>
        <td>51000</td>

        <td>O</td>
        <td>O</td>
        <td>O</td>
    </tr>
    <tr>
        <td>김세란 <button>+</button></td>
        <td>스터디룸</td>
        <td>30000</td>

        <td>O</td>
        <td>O</td>
        <td>O</td>
    </tr>
    <tr>
        <td>박상현 <button>+</button></td>
        <td>카페음료</td>
        <td>16000</td>

        <td>X</td>
        <td>O</td>
        <td>O</td>
    </tr>
    </table>
    <div>
        <button class="btn_design1" style="width: 30%">결과보기</button>
    </div>
    <div>
        <button id="addnewhistory" class="btn_design1" style="width: 30%">그룹에 추가하기</button>
    </div>
<script>
    //console.log(JSON.parse(localStorage.getItem("people")));
    let historydatabase_add=JSON.parse(localStorage.getItem("historydatabase"));
    let groupid            =JSON.parse(localStorage.getItem("curgroup"));
    let groupdatabase      = JSON.parse(localStorage.getItem("group_database"));
    let historyname   = document.getElementById("inputhistoryname");
    let addnewhistory = document.getElementById("addnewhistory");
    
    //console.log(groupdatabase[groupid.split("group")[1]])
    addnewhistory.addEventListener('click', ()=>{
        if(historyname.value===""){
            alert('정산 이름을 입력십시오.');
        }
        else{
        let calculateresult = JSON.parse(localStorage.getItem("calculateresult"));
        let newhistory={};
        let curgrouphistorynum=historydatabase_add[groupid].length;
        newhistory.id = curgrouphistorynum + 1; 
        newhistory.name = historyname.value;
        newhistory.component = calculateresult; //계산결과가 들어가는 부분
        historydatabase_add[groupid].push(newhistory);
        localStorage.setItem("historydatabase",JSON.stringify(historydatabase_add));
        location.href='{% url 'main:history' %}'
        }
    });
</script>
{% endblock %}