{% extends 'main/web/base.html' %}


{% block body %}
<h1>Calculate - 팀플</h1>

    <h3>1차모임</h3>

    <table>
    <tr>
        <th>결제한사람</th>
        <th>결제 대상</th>
        <th>결제 금액</th>

        <th>김예린</th>
        <th>김세란</th>
        <th>박상현</th>
    </tr>

    <tr>
        <td>김예린 <button>+</button></td>
        <td>고기</td>
        <td>51000</td>

        <td>O</td>
        <td>O</td>
        <td>O</td>
    </tr>
    <tr>
        <td>김세란 <button>+</button></td>
        <td>스터디룸</td>
        <td>30000</td>

        <td>O</td>
        <td>O</td>
        <td>O</td>
    </tr>
    <tr>
        <td>박상현 <button>+</button></td>
        <td>카페음료</td>
        <td>16000</td>

        <td>X</td>
        <td>O</td>
        <td>O</td>
    </tr>
    </table>

{% endblock %}