{% extends 'main/web/base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/calculate_group.js' %}"></script>

    <script>
     window.addEventListener("load", () => {
        setTable();
    });
    </script>
{% endblock %}

{% block body %}

    <div style="margin-top: 100px">
        <h3>계산 내역</h3>
    </div>
    <div class="container-sm" style="width:35%;height:10%;text-align: center; margin-top: 30px">
        <input
            type="text"
            class="name_input_design"
            id="inputhistoryname"
            placeholder="정산 이름을 입력하세요."
            autofocus
            style="text-align: center;"
        />
    </div>    

    <div>
        <table class="cal_table" style="margin:30px auto;">
            <tr>
                <th>결제한사람</th>
                <th>결제 대상</th>
                <th>결제 금액</th>

                <th>
                    <div id="people_list" class="row-vh d-flex flex-row justify-content-between"
                         style="flex-grow:1"></div>
                </th>
                <th></th>
            </tr>

        </table>
    </div>
    <div>
        <a class="btn btn_design1" style="width:30%; margin-bottom: 40px; margin-top: 20px" href="#result"
           onclick="result()">결과보기</a>
    </div>
    <div>
        <button id="addnewhistory" class="btn btn_design2" style="width: 30%; margin-bottom: 50px">히스토리에 추가하기</button>
    </div>

    <div class="border" id="result" style="margin:50px 0px;">
        <div style="width: 50%;background-color: lightgrey; border-radius: 20px;margin: auto;">
            <div class="res_div1" style="text-align: center; font-weight: bold; font-size: 20px;"></div>
            <table class="res_table table table-borderless" style="margin: 15px auto;">
            </table>
            <div class="res_div4"></div>

        </div>
        <div class="res_div2"></div>
        <div class="res_div3"></div>

    </div>

    <br>
    <br>
    <br>


    <script>
        //console.log(JSON.parse(localStorage.getItem("people")));
        let historydatabase_add = JSON.parse(localStorage.getItem("historydatabase"));
        let groupid = JSON.parse(localStorage.getItem("curgroup"));
        let groupdatabase = JSON.parse(localStorage.getItem("group_database"));
    let historyname   = document.getElementById("inputhistoryname");
    let addnewhistory = document.getElementById("addnewhistory");
    console.log(historydatabase_add,12321312312)
    //console.log(groupdatabase[groupid.split("group")[1]])
    addnewhistory.addEventListener('click', ()=>{
        if(historyname.value===""){
            alert('정산 이름을 입력십시오.');
        }
        else{
        let calculateresult = JSON.parse(localStorage.getItem("calculateresult"));
        let newhistory={};
        let curgrouphistorynum=historydatabase_add[groupid].length;
        newhistory.id = curgrouphistorynum + 1;
        newhistory.people = localStorage.getItem('people');
        newhistory.name = historyname.value;
        newhistory.component = calculateresult; //계산결과가 들어가는 부분
        newhistory.res_table = localStorage.getItem('resTable') //계산결과가 들어가는 부분
        historydatabase_add[groupid].push(newhistory);
        localStorage.setItem("historydatabase",JSON.stringify(historydatabase_add));
        location.href='{% url 'main:history' %}'
        }
    });
</script>
{% endblock %}