{% extends 'main/web/base.html' %}


{% block body %}

<h1>Group List</h1>
    <div>
        <table id = "group_lists" style="border:1px solid black;">
            <tr onclick="location.href='{% url 'main:group_create' %}'">
                <td style="border:1px solid blue; width:200px;height:20px;">      +      </td>
            </tr>
            <!-- <tr onclick="location.href='{% url 'main:history' %}'">
                <td style="border:1px solid blue; width:200px;height:20px;">       팀플111       </td>
            </tr> -->
        </table>
    </div>
    <br><br><br><br><br><br>
<script>
    let curuser = JSON.parse(localStorage.getItem("curuser"));
    let curusername_grouplist=JSON.parse(localStorage.getItem("curusername"));
    let userdata = JSON.parse(localStorage.getItem("userid_database"));
    let groupdatabase = JSON.parse(localStorage.getItem("group_database"));
    let curusersGroups=[];
    for (i in groupdatabase){
        if(groupdatabase[i].member.some((member_)=>{
            return member_[0]===curuser[0] && member_[1]===curusername_grouplist;
        })) curusersGroups.push([groupdatabase[i].name,i])
    }
    //console.log(groupdatabase)
    curusersGroups.forEach(group =>{
        let tr = document.createElement("tr");
        tr.textContent = group[0];
        tr.id="group"+group[1];
        tr.className="showlist"
        tr.setAttribute("onClick", "location.href='{% url 'main:history' %}'");
        //tr.style="border:1px solid blue; width:200px;height:20px;";
        
        localStorage.setItem("showinghistory", JSON.stringify(group));
        document.querySelector("#group_lists").appendChild(tr)

    })
    document.querySelectorAll(".showlist").forEach(gotogroup => {
		gotogroup.addEventListener("click", () => {
            //console.log(gotolist.id)
            localStorage.setItem("curgroup",JSON.stringify(gotogroup.id));
            
        });
    });
			

			
			
</script>
{% endblock %}