{% extends 'main/web/base.html' %}


{% block body %}
<h1>History List - 팀플</h1>

    <table id="userhistorylist" style="border:1px solid black;">
    <tr id='abc' onclick="location.href='{% url 'main:calculate' %}'">
        <td style="border:1px solid blue; width:200px;height:20px;">      +      </td>
    </tr>
    <tr onclick="location.href='{% url 'main:history_detail' %}'">
        <td style="border:1px solid blue; width:200px;height:20px;">       1차모임      </td>
    </tr>
    </table>
<script>
    let groupname=JSON.parse(localStorage.getItem("curgroup"));
    let historydatabase=JSON.parse(localStorage.getItem("historydatabase"));
    let userhistorylist=document.querySelector("#userhistorylist");
    let abc=document.querySelector("#abc");
    //console.log(groupname,userhistorylist.style)
    abc.cloneNode();
    //historydatabase[groupname].forEach(histroy => {
    [1,2,3].forEach(histroy => {
        //let tr =document.createElement('tr');
        //tr.id = [groupname,histroy.id];
        let tr = abc.cloneNode(true);
        console.log(tr.childNodes[1].textContent=histroy)
        //tr.textContent=1;
        userhistorylist.appendChild(tr)
    });
</script>
{% endblock %}