{% extends 'main/web/base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/calculate_group.js' %}"></script>

{% endblock %}
{% block body %}

    <div style="margin-top: 100px;margin-bottom: 40px">
        <h1 id="historytitle"></h1>
    </div>
    <div>
        <span style="font-size: 120%;"></span>
    </div>
    <a class="btn btn_design1" style="width:30%; margin-bottom: 40px; margin-top: 20px">결과보기</a>
    <div>
        <table class="cal_table" style="margin:30px auto;">
            <tr>
                <th>결제한사람</th>
                <th>결제 대상</th>
                <th>결제 금액</th>

                <th>
                    <div id="people_list" class="row-vh d-flex flex-row justify-content-between"
                         style="flex-grow:1"></div>
                </th>
                <th></th>
            </tr>

        </table>
    </div>
    <div id="result" style="margin:50px 0px;height:100px;">
        <div style="width: 50%;background-color: lightgrey; border-radius: 20px;margin: auto;">
            <div class="res_div1" style="text-align: center; font-weight: bold; font-size: 20px;"></div>
            <table class="res_table table table-borderless" style="margin: 15px auto;">
            </table>
            <div class="res_div4"></div>
        </div>
        <div class="res_div2"></div>
        <div class="res_div3"></div>
    </div>
    <br>
    <br>
    <br>
    <button id="download" class="download btn btn_design2" style="width: 30%; margin-top: 40px; margin-bottom: 70px">
        히스토리 다운로드
    </button>

    <script>


        function download(filename, text) {
            var pom = document.createElement('a');
            pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            pom.setAttribute('download', filename);

            if (document.createEvent) {
                var event = document.createEvent('MouseEvents');
                event.initEvent('click', true, true);
                pom.dispatchEvent(event);
            } else {
                pom.click();
            }
        }

        //console.log(JSON.parse(localStorage.getItem("people")));
        let historyid = JSON.parse(localStorage.getItem("historyid"));
    let groupid=JSON.parse(localStorage.getItem("curgroup"));
    let historydatabase=JSON.parse(localStorage.getItem("historydatabase"));
    people = JSON.parse(localStorage.getItem("people"));
    let historycomponent
    let curhistoryname
    let download_people = JSON.parse(localStorage.getItem("people"));
    //console.log(historyid)
    historydatabase[groupid].forEach(history => {
        //console.log(history.id+"" ,historyid.split("history")[1])
        if(""+history.id ===historyid.split("history")[1] ){
            historycomponent=history.component;
            curhistoryname=history.name
            //console.log(history);
        }
    });
    let historytitle = document.getElementById("historytitle");
    console.log( historycomponent,1111111111);
    historytitle.innerHTML= "History List - " + groupid+ ' - ' + curhistoryname+': Detail' ;
    
    document.getElementById("download").addEventListener("click", () => {
            //console.log(1231441)
            let downloadstr="   전화번호     이름\t결제대상\t사용한금액\n";
            console.log(historycomponent,12313)
            historycomponent.forEach((person__,i)=>{
                person__.forEach(element => {
                    console.log(download_people)
                    downloadstr+=download_people[i][0]+" "+download_people[i][1]+"\t"+element[0]["object"]+"\t"+element[0]["amount"]+"\n";
                });
            })
            download("History List - " + groupid+ ' - ' + curhistoryname+': Detail', downloadstr);
    });
    
    res_table=historycomponent;
    people=people.filter(person =>{
        return person[1];
    })
    setTable();
    result();
    
    function setTable() {
    let first_row_people_list = $('#people_list');
    people.forEach((ele)=>{
        let div = document.createElement("div");
        div.className = "person";
        div.innerText = ele;
        first_row_people_list.append(div);

        let tr = make_input_tr(ele);
        $('.cal_table').append(tr);
    })
    }
    function make_input_tr(name){
        //tr
        let tr = document.createElement('tr');
        //input_tr의 경우 각 사람의 이름을 id로 한다.
        tr.id = name;
        //name_column
        tr.append(make_name_td(name));
        //object_column
        tr.append(make_object_td());
        //amount_column
        tr.append(make_amount_td());
        //checkbox_column
        tr.append(make_checkbox_td());
        //button_column
        tr.append(make_button_td(name));
        return tr;
    }
    function make_object_td(value=''){
    let object_td = document.createElement('td');
    
    if(value === ''){
        let object_input = document.createElement('input');
        object_input.className = "input_design";
        object_td.append(object_input);
    }
    else{
        object_td.append(value);
    }
    return object_td;
}
function make_name_td(name){
    let name_td = document.createElement('td');
    let name_div = document.createElement('div');
    name_div.append(name);
    name_td.append(name_div);
    return name_td;
}
//value가 ''인 경우 input을 받는 td를 만든다. validation은 호출 전에수행한다.
function make_amount_td(value=''){
    let amount_td = document.createElement('td');
    amount_td.style= 'padding-right:10px;'
    if (value === ''){
        amount_td.innerHTML = '<input class="input_design" type="number" placeholder="숫자(원₩)를 입력하세요.">';
        amount_td.className = "calculator_input_design";
    }
    else{
        amount_td.innerHTML = value;
    }
    return amount_td;
}
//checked_list ''인 경우 input을 받는 td를 만든다. validation은 호출 전에수행한다.
function make_checkbox_td(checked_list = []){
    let checkbox_td = document.createElement('td');
    checkbox_td.className="checkbox";
    let checkbox_div = document.createElement('div');
    checkbox_div.className = 'row-vh d-flex flex-row justify-content-between'
    if(checked_list.length!==0){
        people.forEach((p)=>{
            let div = document.createElement("div");
            div.className = "checkbox form-check" ;
            div.style.marginLeft = "20px"
            if(checked_list.includes(p)){
                div.innerHTML = '<input class="form-check-input" style="background-color: #60C49D; border: none" type="checkbox" value="" id="flexCheckChecked"' + 'name="' + p +'"' + ' checked disabled readonly>';
            }
            else{
                div.innerHTML =
                    '<input class="form-check-input" style="border: none" type="checkbox" value="" id="flexCheckChecked"' + 'name="' + p +'"' + ' disabled readonly>';
            }
            checkbox_div.append(div);
        })
    }
    else{
        people.forEach((p)=>{
            let div = document.createElement("div");
            div.className = "checkbox form-check";
            div.style.marginLeft = "20px"
            div.innerHTML = '<input class="form-check-input" style="background-color: #60C49D; border: none" type="checkbox" id="flexCheckChecked"' + 'name="' + p +'"' + ' checked>';
            checkbox_div.append(div);
        })
    }
    checkbox_td.append(checkbox_div);
    return checkbox_td;
}
function make_button_td(name,value='+'){
    let button_td = document.createElement('td');
    let btn = document.createElement('button');
    btn.className = "btn add_btn_design";
    if(value==='+'){
        btn.addEventListener("click", (e) => {
           add_(name,e.target);
        });
    }
    else if(value==='-'){
        btn.addEventListener("click",(e)=>{
            del_(name, e.target);
        })
        btn.style.backgroundColor="lightcoral";
    }
    btn.append(document.createTextNode(value));
    button_td.append(btn);
    return button_td;
}
    function result(){
        $('.res_div1').html('<br><p>송금 내역</p>');
        $('.res_table').html(' <tr>\n' +
            '                <th>이름</th>\n' +
            '                <th>결제한 금액</th>\n' +
            '                <th>사용 금액</th>\n' +
            '                <th>총</th>\n' +
            '            </tr><br>');
        $('.res_div2').html('<br>')
        $('.res_div3').html('<br>')
        $('.res_div4').html('<br>')
        
        let remittance = [];
        let total = 0;

        for(let p1 = 0 ; p1 < people.length; p1++){
            let tr = document.createElement('tr');
            let name_td = document.createElement('td');
            let name_div = document.createElement('div');
            name_div.append(people[p1]);
            name_td.append(name_div);
            let td2 = document.createElement('td');
            let td2_div = document.createElement('div');
            let res1= 0;
            res_table[p1].forEach((arr)=>{
                arr.forEach((ele)=>{
                    res1 += ele.amount;
                })
            })
            total += res1;
            
            td2_div.append(res1);
            td2.append(td2_div);
            let td3 = document.createElement('td');
            let td3_div = document.createElement('div');
            let res2 = 0;
            for(let p2 =0;p2< people.length;p2++){
                res_table[p2][p1].forEach((ele)=>{
                    res2 += ele.amount;
                })
            }
            
            td3_div.append(res2);
            td3.append(td3_div);
            let td4 = document.createElement('td');
            let td4_div = document.createElement('div');
            let res3 = res1 - res2;
            remittance[p1] = [p1, res3];
            
            td4_div.append(res3);
            td4.append(td4_div);
            tr.append(name_td);
            tr.append(td2);
            tr.append(td3);
            tr.append(td4);
            $('.res_table').append(tr);
    }
}
</script>
{% endblock %}