{% extends 'main/web/base.html' %}
{% load static %}

{% block body %}
    
{#        <link rel="stylesheet" href="{% static 'css/style.css' %}">#}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
    
<img src="{% static 'img/main_picture.png' %}" class="img-fluid" alt="hi">
    
<div class="container-sm" style="width:30%;height:80%;text-align: center; border: 1px blue">  
    <div class="d-grid gap-2">
        <button class="btn btn_design1" style="margin-top: 50px" onclick="location.href='{% url 'main:temp_people' %}'">로그인없이 계산</button>
        <button class="btn btn_design2"style="margin-top: 30px" onclick="location.href='{% url 'main:sign_in' %}'">로그인/회원가입</button>
        <button id="logout" class="btn btn_design3" style="margin-top: 30px; background-color: antiquewhite;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
        " onclick="location.href='{% url 'main:sign_in' %}'">로그아웃</button>
    </div>
    <br><br>
</div>
<script>
    document.getElementById("logout").addEventListener("click",()=>{
        localStorage.removeItem("curusername");
        localStorage.removeItem("curuser");
    })
</script>

{% endblock %}