{% extends 'main/web/base.html' %}


{% block body %}
<link rel="stylesheet" href="../../../static/css/style.css">
    
<div class="container-sm" style="width:30%;height:80%;text-align: center; margin-top: 200px">
  <div class="mb-3 row">
    <label for="inputPhonenumber" class="col-sm-3 col-form-label" style="text-align: center">휴대폰 번호</label>
    <div class="col-sm-9">
      <input type="phonenumber" class="input_design" id="inputPhonenumber">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-3 col-form-label" style="text-align: center">비밀번호</label>
    <div class="col-sm-9">
      <input type="password" class="input_design" id="inputPassword">
    </div>
  </div>
    <br>
    <div class="d-grid gap-2">
        <button type="button" class="btn_design1" >로그인</button>
    </div>
    <br>
    <div style="text-align: center;">아직 회원이 아니신가요?  
        <span class="btn btn-white" type="text" onclick="location.href='{% url 'main:sign_up' %}'" style="text-align: start"><b>회원가입</b></span>
    </div>
    <div style="text-align: center;">
      <span id="exist"></span>
    </div>
    
    <!-- <button id="reset" class="download btn btn-sm btn-danger">Download</button> -->
    <br><br><br><br><br><br>
</div>
<script>
  let useridpw_raw = localStorage.getItem("userid");
        if (useridpw_raw){
          let useridpw= JSON.parse(useridpw_raw);
          document.querySelector("#inputPhonenumber").value=useridpw[0];
          document.querySelector("#inputPassword").value=useridpw[1];
        }
        else{
          useridpw=[];
        }
  //onclick="location.href='{% url 'main:group_list' %}'" 
  btn = document.querySelector(".btn_design1");
  
  btn.addEventListener("click", () => {
    useridpw=["",""]
    //console.log(12344);
    useridpw[0]=document.querySelector("#inputPhonenumber").value;
    useridpw[1]=document.querySelector("#inputPassword").value;
    console.log(useridpw_raw);
    if (useridpw[0]==="" || useridpw[1]===""){
      document.querySelector("#exist").textContent="올바른 휴대폰 번호와 비밀빈호를 입력하십시오";
      btn.setAttribute("onClick", "");
    }
    else{
      btn.setAttribute("onClick", "location.href='{% url 'main:group_list' %}'");
      console.log(document.querySelector(".btn_design1").onclick);
      btn.click();
      
      localStorage.setItem("userid", JSON.stringify(useridpw));
    }
  });
  
  
</script>
{% endblock %}