{% extends 'main/web/base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/calculate.js' %}"></script>

    <script>
     window.addEventListener("load", () => {
        setTable();
    });
    </script>
{% endblock %}

{% block body %}

    <div style="margin-top: 100px">
        <h3>계산 내역</h3>
    </div>
    <div>
    <table class="cal_table" style="margin:30px auto;">
        <tr>
            <th>결제한사람</th>
            <th>결제 대상</th>
            <th>결제 금액</th>

            <th><div id="people_list" class="row-vh d-flex flex-row justify-content-between" style="flex-grow:1"></div></th>
            <th></th>
        </tr>

    </table>
    </div>
    <div>
    <a class="btn btn_design1" style="width:30%" href="#result" onclick="result()">결과보기</a>
    
    </div>
    <br>
    <div class="" id="result" style="margin:50px 0px;height:1000px;">
        <div style="width: 50%;background-color: lightgrey; border-radius: 20px;margin: auto;">
            <div class="res_div1" style="text-align: center; font-weight: bold; font-size: 20px;"></div>
            <table class="res_table table table-borderless" style="margin: 15px auto;">
            </table>
            <div class = "res_div2"></div>
            <div class = "res_div3"></div>
            <div class = "res_div4"></div>
        </div>
    </div>

{% endblock %}