{% extends 'main/web/base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/calculate.js' %}"></script>

    <script>
     window.addEventListener("load", () => {
        setTable();
    });
    </script>
{% endblock %}

{% block body %}

    <div>
    <h1>temp 계산 페이지</h1>
    </div>
    <div>
    <table class="cal_table" style="margin:30px auto;">
        <tr>
            <th>결제한사람</th>
            <th>결제 대상</th>
            <th>결제 금액</th>

            <th><div id="people_list" class="row-vh d-flex flex-row justify-content-between" style="flex-grow:1"></div></th>
        </tr>

    </table>
    </div>
    <div>
    <button>결과보기</button>
    </div>

{% endblock %}