{% extends 'main/web/base.html' %}
{% load static %}

{% block script %}
    
    <script src="{% static 'js/people.js' %}"></script>

{% endblock %}
{% block body %}
    <div style="margin-top: 100px;margin-bottom: 40px">
        <h3>멤버 추가</h3>
    </div>
    <div class="container-sm" style="width:35%;height:80%;text-align: center;border: 5px blue">
        <div class="container">
            <div class="d-flex align-items-center mb-2 mt-2">
                <input
                    type="text"
                    class="name_input_design"
                    id="name-input"
                    placeholder="이름을 입력하세요."
                    autofocus
                />  
                <button type="button" id="add" class="btn add_btn_design">
                    + 
                </button>
            </div>
        </div>
        <div id="peopleList" style="width:100%;text-align: center">
            <div  class="people p-1 rounded-2 ps-2 d-flex align-items-center">
                
            </div>
        </div>
        <div style="text-align:center;">
            <button   id="clearlocalstorage" onclick="clear_and_load();" class="btn btn_design1"  style="margin-top: 30px;width: 60%; background-color: lightcoral">초기화</button>
        </div>
        <div>
            <button id="next" class="btn btn_design2" style="margin-top: 30px;width: 60%" url="{% url 'main:temp_calculate' %}" onclick="next(this)">다음</button>
        </div>
    </div>
    <script >
        localStorage.removeItem("curuser");
        localStorage.removeItem("curusername");
    </script>
    <br>
    <br>
    


{% endblock %}